- title 'Wordtree'

= render partial: 'form'

- if @term 
  #sidebar
    %h1= "Documents returned: #{@documents.count}"
  .current_tree
    = hidden_field_tag :tree_id, @root.id
    = hidden_field_tag :tree_name, @term
  #viewport
- else
  = render partial: 'not_found'

