- title (params[:id] || 'Wordtree').titleize

.row
  .span3
    = form_for(@tree, html: {class: 'navbar-search form-inline pull-left'}) do |f|
      %fieldset
        = f.text_field :name, placeholder: 'Enter a word/phrase'
        = f.submit 'Search', class: :btn
        = label_tag :level, 'Level'
        = select_tag :level, options_for_select(['All', 1, 2, 3, 4])
        = label_tag :level, 'Genre'
        = label_tag :level, 'Discipline'
        #status
          %p.status
    %button.advanced.btn.pull-right Filter

  #wordtree.span9
