- title 'Keyword Search: ' + params[:id]

= form_tag 'trees/search', method: :get, id: :search do 
  %fieldset#parameters
    - [:keyword, :genre, :discipline].each do |field|
      .field
        = label_tag field
        = text_field_tag field, params[field], type: :search, placeholder: field
    .field
      = label_tag :suffix, 'Show suffixes'
      = check_box_tag :suffix
  %fieldset.controls
    = submit_tag 'Search'

%div
  %input#tree_id{value: @root.id, type: :hidden}
  %input#tree_name{value: params[:id], type: :hidden}

%svg#viewport
  %g{transform: 'translate(10,10)'}
