- title @document.title_fmd

#wordtree
  %h2 Wordtree
  #canvas
    - @document.terms.find_by_name('the').preterms.group(:name).each do |t|
      %li= t.name
      %ul
        - t.preterms.select('name, COUNT(name) as count').group(:name).each do |t2|
          %li{:style => "font-size:#{t2.count / 1.5}em"}= t2.name

%article#text
  %h2 Transcript
  %section.transcript= @document.text

%article#text
  %h2 Term Frequencies
  %section
    %table
      %thead
        %tr
          %th Term
          %th{:colspan => 2} Frequency
      %tbody
        - @document.terms.group(:name).select('name, count(terms.id) AS cnt').order('cnt DESC').each do |t|
          %tr
            %td= t.name
            %td= t.cnt 
            %td
              %span{:style => "width:#{t.cnt}px"}
