- title @document.title_fmd

#wordtree
  %h2 Wordtree
  = form_for document_url(@document), :method => :get do |f|
    %label
      %span Keyword
      = text_field_tag :q
    %label
      %span Branches
      = select_tag :depth, options_for_select([1,2,3,4,5,6], 2)
    %label
      %span Threshold
      = select_tag :threshold, options_for_select([1,2,3,4,5,6], 2)
    %label
      %span Orientation
      %input{:type => :radio, :name => :dir, :value => :pre} Left
      %input{:type => :radio, :name => :dir, :value => :post, :selected => :selected} Right
    %label
      %span Order
      %input{:type => :radio, :name => :dir, :value => :pre} Alphabetical
      %input{:type => :radio, :name => :dir, :value => :post} Frequency
    %nav#links
      = link_to 'Previous', document_url(@document.id - 1) unless @document.id == 1
      = link_to 'Next', document_url(@document.id + 1)
  #canvas

%article#text
  %h2 Transcript
  %section.transcript= @document.text

%article#text
  %h2 Term Frequencies
  %section
    %table
      %thead
        %tr
          %th Term
          %th{:colspan => 2} Frequency
      %tbody
        - @document.terms.group(:name).select('name, count(terms.id) AS cnt').order('cnt DESC').each do |t|
          %tr
            %td= t.name
            %td= t.cnt 
            %td
              %span{:style => "width:#{t.cnt}px"}
