- paginator.render do
  %nav.pagination
    - if current_page.first?
      %span.empty
      %span.empty
    - else
      = first_page_tag 
      = prev_page_tag 
    = each_page do |page|
      - if page.left_outer? or page.right_outer? or page.inside_window?
        = page_tag page 
      - elsif ! page.was_truncated? 
        = gap_tag 
    - if current_page.last?
      %span.empty
      %span.empty
    - else
      = last_page_tag
      = next_page_tag 
